body
{
    margin: 0px;
    
}

.col
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.row
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

img
{
    width: 100%;
}

main
{
}

.overall
{
    min-height: 100vh;
    min-width: 100vw;

}