.container
{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    /*question -  why is it that 
       align-items: center;
    justify-content: center
    shrink the element size when I put them here, instead
    of .centered? 
    in here and not ;
*/


}

nav, footer
{
    display: flex;
    background-color: #3a3633;
    padding: 15px;
    color: white;
    /*question - how come I don't need a flex number here?
    I tried it with flex 1 here, and flex 8 in main, and 
    it didn't work as well as just having flex 1 in main*/
}


.centered
{
    align-items: center;
    justify-content: center;

}
main
{
    display: flex;
    flex: 1;
    font-size: 15px;
}

body
{
    margin: 0px;
}